$c0-primary: #b61984;
$c0-secondary:white;
$c0-dark:black;
$c1-primary: #1d365e;
$bg0-primary: #b61984;
$bg0-secondary:white;
$bg1-primary:#dcd1f0;
$bg0-footer:#aa017e;
$bd-c0-primary: #b61984;
$bd-radius0:6px;
$bd-radius1:30px;
$bd-radius2:10px;
$text-sm1:13px;
$text-sm:14px;
$text-base:16px;
$text-xl:18px;
$text-2xl:20px;
$text-3xl:30px;
$text-4xl:40px;
$text-5xl:50px;
$text-6xl:60px;
$fw-light:300;
$fw-regular:400;
$fw-semibold:600;
$fw-bold:700;
$p-0:0;
$p-1:5px;
$p-2:10px;
$p-3:15px;
$p-4:20px;
$p-5:25px;
$p-6:30px;
$p-7:35px;
$p-8:40px;
$m-1:10px;
$m-2:15px;
$m-3:20px;
$m-4:25px;
$m-5:30px;
$m-6:35px;
$m-7:40px;
$button-border-radius:6px;
$button-bg-color: #cccc;